@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;

}

:root {
    --cor-de-fundo: #2995E2;
    --branco: #FFFFFF;
    --fonte-primaria: "Segoe UI", Arial, sans-serif;
    --fonte-secundaria: 'Hind Vadodara', sans-serif;
    --fonte-terciaria: 'Cairo', sans-serif;
    --cor-verde: #009A47;
    --cor-strong: rgba(51, 27, 59, 1);
    --cor-paragrafo: rgba(51, 27, 59, 0.66);
    --cor-de-fundo-icones: #2995E280;
    --cor-texto-formulario: #4F4F4F;
    --cor-texto-segundo-formulario: #3F3F3F;
    --cor-botao: #2995E2;
    --cor-vermelho: red;
    --cor-hover: rgb(176, 176, 231);
    --cor-fundo-botao-hover: #206ea6;
    --cor-de-fundo-whatsapp-hover: #007235;
}

body {
    font-family: var(--fonte-secundaria);
    font-size: 16px;
   
}






