@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;

}

:root {
    --cor-de-fundo: #2995E2;
    --branco: #FFFFFF;
    --fonte-primaria: "Segoe UI", Arial, sans-serif;
    --fonte-secundaria: 'Hind Vadodara', sans-serif;
    --fonte-terciaria: 'Cairo', sans-serif;
    --cor-verde: #009A47;
    --cor-strong: rgba(51, 27, 59, 1);
    --cor-paragrafo: rgba(51, 27, 59, 0.66);
    --cor-de-fundo-icones: #2995E280;
    --cor-texto-formulario: #4F4F4F;
    --cor-texto-segundo-formulario: #3F3F3F;
    --cor-botao: #2995E2;
    --cor-vermelho: red;
    --cor-hover: rgb(176, 176, 231);
    --cor-fundo-botao-hover: #206ea6;
    --cor-de-fundo-whatsapp-hover: #007235;
}

body {
    font-family: var(--fonte-secundaria);
    font-size: 16px;
   
}




.cabecalho {

    background-color: var(--cor-de-fundo);
}



.terceira-secao__container {
    margin: 8em 3em;
    text-align: center;
    

}



.terceira-secao__cards {
    margin-left: 4em;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: -5em;

}

.negocios__titulo {
    margin-top: -1em;
    text-align: center;
    font-size: 48px;
    font-weight: 300;
    line-height: 1.1;

}

.negocios__titulo__strong {
    font-weight: 700;

    color: var(--cor-strong);
}

.card {

    margin: 0 3em;
    max-width: 30%;
    margin-right: -8em;
    flex: 1;
    height: 200px;
    width: 35%;
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 0 1em;
    margin-top: 1em;
}

.card__titulo {

    font-size: 24px;
    font-weight: 700;
    color: var(--cor-strong);
}

.card__texto {
    font-size: 20px;
    color: var(--cor-paragrafo);

}

.card__imagem { 
    padding-top: 0.5em;
    width: 52px;
    height: 40px;
}


.segundo-form {
    display: flex;
}
