.sexta-secao-formulario {
    padding: 8em 0;
    background-image: url('../imagens/FundoFormulario.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100vh;

}

.container {
    padding: 4em;
    border-radius: 2em;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    margin: 1em 5em;
    background-color: var(--branco);

}

.form__titulo {
    font-size: 25px;
    font-weight: 700;
    color: var(--cor-texto-segundo-formulario);

}

.form__paragrafo {
    font-size: 19px;
    font-weight: 600;
    color: var(--cor-texto-formulario);
    margin-bottom: 0.5em;
}

.form {
    display: flex;
    gap: 10em;

}

.form-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.form__label {
    font-size: 17px;
    font-weight: 600;
    width: 80%;
    color: var(--cor-paragrafo);
    margin-bottom: 0.5em;
}

.form__input {
    padding: 1em;
    border-radius: 10px;
    margin-bottom: 0.5em;
    border: 1px solid #999;
    font-size: 17px;
    font-family: var(--fonte-terciaria);
    font-weight: 600;
    color: var(--cor-de-fundo);
}

.form__botao-container {
    display: flex;
    margin-top: 1em;

}

.form__botao {

    margin-top: 1em;
    width: 100%;
    padding: 1em 0;
    background-color: var(--cor-botao);
    border-radius: 10px;
    color: var(--branco);
    font-size: 18px;
    font-weight: 700;
    border: none;
    cursor: pointer;

}