.terceira-secao__container {
    margin: 8em 3em;
    text-align: center;
    

}



.terceira-secao__cards {
    margin-left: 4em;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: -5em;

}

.negocios__titulo {
    margin-top: -1em;
    text-align: center;
    font-size: 48px;
    font-weight: 300;
    line-height: 1.1;

}

.negocios__titulo__strong {
    font-weight: 700;

    color: var(--cor-strong);
}

.card {

    margin: 0 3em;
    max-width: 30%;
    margin-right: -8em;
    flex: 1;
    height: 200px;
    width: 35%;
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 0 1em;
    margin-top: 1em;
}

.card__titulo {

    font-size: 24px;
    font-weight: 700;
    color: var(--cor-strong);
}

.card__texto {
    font-size: 20px;
    color: var(--cor-paragrafo);

}

.card__imagem { 
    padding-top: 0.5em;
    width: 52px;
    height: 40px;
}


.segundo-form {
    display: flex;
}


.quinta-secao {
    background-image: url('../imagens/ImagemFundoServicos.svg');
    display: flex;
    background-size: cover;
    gap: 5em;
    background-repeat: no-repeat;
    margin: 6em 0;
    margin-top: -1em;
   padding-bottom: 8em;
}
.lista-box {
    justify-content: center;
    list-style: none;
    gap: 3em;
    display: flex;
    flex-wrap: wrap;
    
}

.quinta-secao__container {
    margin-top: 5em;
    
    width: 100%;
    padding: 0em 4em;

}

.container__titulo {
    font-size: 48px;
    font-weight: 700;
    color: var(--cor-strong);
}

.container__paragrafo {
    font-size: 48px;
    font-weight: 300;
    color: var(--cor-strong);
    margin-top: -0.5em;
    margin-bottom: 0.3em;

}

.box {
    justify-content: center;
    padding: 1em;
    display: flex;
    background-color: var(--branco);
    width: 100%;
    gap: 10px;
    flex-direction: column;
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.05);

    border-radius: 10px;
    max-width: 26em;


}

.box-container-imagens {
    gap: 20px;
    display: flex;
    max-width: 100%;
}


.box-container__texto {
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: space-around;
}

.box-container__titulo {
    font-size: 24px;
    font-weight: 700;
    color: var(--cor-strong);
}

.box-container__botao {

    border-radius: 100px;
    font-size: 16px;
    color: var(--branco);
    background-color: var(--cor-botao);
    padding: 0.8em 1.7em;
    border: none;
    margin-left: 10em;
    cursor: pointer;
}

.box-container__botao:hover {
    color: var(--cor-hover);
    background-color: var(--cor-fundo-botao-hover);
}

