.quarta-secao {
    display: flex;
    align-items: center;
}

.sobre-nos-texto-sublinhado{
    margin-bottom: 1.5em;
    margin-left: 14em;
    
}
.sobre-nos img {
    margin-bottom: 5em;
   
}

.sobre-nos__paragrafo {

    font-size: 24px;
    color: var(--cor-paragrafo);
}
#imagem{
    transition: transform 0.3s ease-in-out;
}
.rotacao{

        transform: rotate(360deg);
    }
   
    
    
    
    
    
    
