
.quarta-secao {
    display: flex;
    align-items: center;
}

.sobre-nos-texto-sublinhado{
    margin-bottom: 1.5em;
    margin-left: 14em;
    
}
.sobre-nos img {
    margin-bottom: 5em;
   
}

.sobre-nos__paragrafo {

    font-size: 24px;
    color: var(--cor-paragrafo);
}

#imagem-rotacao {
    transition: transform 0.3s linear;
}


#imagem-rotacao:hover {
    animation: girar 2s infinite linear;
}


@keyframes girar {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

